body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 100% 100%;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(150px); /* Ajusta el valor de desenfoque según tus preferencias */
}


#cuerpo{
    background: linear-gradient(180deg, #0066ff00, #010a4200, #5e9eff, #ffffff, #ffffff);
    width: 1000px;
    height: 1000px;
    border-radius: 5px;
    margin-top: 150px;
    margin-bottom: 10px;  
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:  #464e77; /* Fondo blanco */
    box-shadow: 0 0 5px rgb(0, 0, 0);
    border-radius: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #333333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #168100;
  }
  
  button:active {
    background-color: #0acf1a;
  }
  
  button:focus {
    outline: none;
  }