body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 100% 100%;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(150px); /* Ajusta el valor de desenfoque según tus preferencias */
}

#cuerpo{
    background: linear-gradient(180deg, #0066ff00, #010a4200, #5e9eff, #ffffff, #ffffff);
    width: 1000px;
    height: 1000px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;  
}
 
h1 {
    font-size: 36px; /* Tamaño de fuente grande */
    color: #ffffff; /* Color llamativo */
    text-transform: uppercase; /* Texto en mayúsculas */
    letter-spacing: 4px; /* Espaciado entre letras aumentado */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra de texto */
    font-weight: bold; /* Fuente en negrita */
    margin-bottom: 20px; /* Espacio inferior */
}

header {
    background-color: #5e9eff; /* Azul oscuro */
    color: #ffffff; /* Texto blanco */
    padding: 20px;
    text-align: center;
}


/* Estilo para la barra de navegación */
nav {
    background-color: #ffffff; /* Color de fondo */
    text-align: center;
    padding: 10px;
}


/* Estilo para los enlaces en la lista de navegación */
nav a {
    color: inherit; /* Heredar el color de texto de la barra de navegación */
    color: rgb(0, 132, 255); /* Cambiar el color de texto a blanco al pasar el mouse */
    font-size: 20px;
    transition: 0.5s;
    text-decoration: underline;
    text-shadow: 0px 0px -20px rgb(0, 0, 0); /* Sombra de texto */
    font-weight: bold; /* Fuente en negrita */
}


/* Estilo para los elementos de la lista de navegación */
nav li {
    display: inline;
    margin-right: 50px; /* Espaciado entre elementos de la lista */
}

/* Estilo para los enlaces en la lista de navegación */


/* Cambiar el estilo de los enlaces al pasar el mouse sobre ellos */
nav a:hover {
    color: #19058b; /* Cambiar el color de texto a blanco al pasar el mouse */
    font-size: 20px;
    transition: 0.5s;
    text-decoration: underline;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.596);
    border-radius: 5px;
    padding: 5px;
    text-shadow: 0px 20px rgba(0, 132, 255, 0.493); /* Sombra de texto */
    font-weight: bold; /* Fuente en negrita */
    
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:  #ffffff; /* Fondo blanco */
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

footer {
    background-color: #3d3d3d; /* derechos */
    color: #ffffff;
    text-align: center;
    padding: 10px;

}



        /* Estilo para el div que contendrá el arco iris curvado */
        .rainbow-corner {
            position: absolute;
            top: 0;
            right: 0;
            width: 100px; /* Ancho de la esquina del arco iris */
            height: 100px; /* Altura de la esquina del arco iris */
            background: conic-gradient(from 0deg, red, orange, yellow, green, blue, indigo, violet);
            transform: translateY(-50%) rotate(45deg);
        }